@{
    var body string
    var sidebar string
    var footer string
    var title string
    var css string
    var js string
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>
</head>
<body>
    <div class="container">@body</div>
    <div class="sidebar">@sidebar</div>
    <div class="footer">@footer</div>
    @js
  </body>
</html>
