@{
    import (
        "github.com/martinlindhe/ubique.se/views/layout/base"
    )
}

@section title {
    <title>index page</title>
}

@section body {
    <div v-cloak id="app"></div>
}

@section sidebar {
    <div>
        sidebar
    </div>
}

@section footer {
    <div>
        footer
    </div>
}
