@{
    import (
        "tpl/layout/base"
    )

    var body string
    var sidebar string
    var footer string
    var title string
    var css string
    var js string
}

@section title {
    "index page"
}

@section body {

    <div id="bosyosos">
    </div>
}
